body{
    background-color: rgb(0, 150, 92);
    text-align: center;
    
}
.head1{
    color :rgb(219, 219, 219);
    text-shadow: 3px 3px black;
    font-size: 5em;
    margin-top: 2%;
    margin-bottom: .5%;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.divPlay{
    display: flex;
    flex-wrap: wrap;
   justify-content: center ;
   padding-top: 10px;
}
.divPlayer{
    margin-right: 30px;
}
h2{
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(236, 236, 236);
}



.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#408c99, #599bb3);
  }
                